#logo {
  width: 200px;
  height: 200px;
  background: url('../../assets/holberton-logo.jpg');
  background-size: 200px 200px;
}

h1 {
  color: #E0354B;
  display: inline-block;
  margin-left: 10px;
}
